@font-face {
  font-family: Montserrat-t;
  src: url(./fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: Montserrat-l;
  src: url(./fonts/Montserrat-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat-l, "Times New Roman", Times, serif;
  filter: brightness(95%);
}

body {
  color: white;
  background-color: #333333;
}

/* content size */
.jjApp {
  max-width: 916px;
  margin: 0 auto;
}

/* Navigation */

nav {
  background-color: #1f464d;
  width: 100%;
}

.navigationList {
  max-width: 916px;
  display: flex;
  justify-content: end;
  margin: 0 auto 0 12%;
  padding: 15px 0;
}

.navigationList a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  margin-left: 15px;
}

/* Main Section */

section {
  display: grid;
  grid-template-columns: 55% 45%;
  justify-content: space-between;
  margin: 12%;
}

/* Left side */

.about--name {
  font-weight: 100;
  text-transform: uppercase;
  font-family: Montserrat-t, "Times New Roman", Times, serif;
}

.about--text {
  margin: 25px 0;
  line-height: 1.5;
}

.about--button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: #3697a7;
  border: none;
  color: white;
  width: 200px;
  padding: 5px 0;
}

.about--button:hover {
  filter: brightness(110%);
}

/* Right side */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about--img {
  margin-left: auto;
}

.picture-of-me {
  max-width: 225px;
  height: 300px;
}

/* article */

article {
  margin: 12%;
}

.article--name {
  font-weight: 100;
  text-transform: uppercase;
  font-family: Montserrat-t, "Times New Roman", Times, serif;
  margin-bottom: 15px;
}

.boxs {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
}

.box:hover {
  filter: brightness(110%);
  cursor: pointer;
}
/* img */
.box img {
  width: 220px;
  height: 150px;
  outline: 0.5px solid white;
  outline-offset: -10px;
}
/* text under img */

.box--text {
  width: 220px;
  height: 100px;
  background-color: #3697a7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box--text h3 {
  padding: 10px 9px;
  font-family: Montserrat-t, "Times New Roman", Times, serif;
  font-size: 13.5px;
  text-transform: uppercase;
}
.box--text p {
  font-size: 11px;
  padding: 5px 10px;
}

/* footer */

footer {
  text-align: center;
}

footer p {
  padding-bottom: 25px;
}

/********* Media queries *************/

@media only screen and (max-width: 1516px) {
  .navigationList {
    margin-right: 24%;
  }
}
@media only screen and (max-width: 1316px) {
  .navigationList {
    margin-right: 20%;
  }
}
@media only screen and (max-width: 1016px) {
  .navigationList {
    margin-right: 16%;
  }
}
@media only screen and (max-width: 916px) {
  .navigationList {
    margin-right: 8%;
  }
  section,
  article {
    margin: 12% 8%;
  }
}
@media only screen and (max-width: 830px) {
  .navigationList {
    margin-right: 4%;
  }
  section,
  article {
    margin: 12% 4%;
  }
}
@media only screen and (max-width: 750px) {
  .navigationList {
    margin-right: 4%;
  }
  section,
  article {
    margin: 10% 2%;
  }

  .box img,
  .box--text {
    width: 200px;
  }
}

@media only screen and (max-width: 660px) {
  body {
    margin: 0 auto;
  }

  .navigationList {
    justify-content: center;
    margin: 0;
  }
  .navigationList a {
    margin: 0 15px;
  }

  .picture-of-me {
    display: flex;
    justify-content: center;
    max-width: 250px;
    height: 300px;
  }

  .boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .article--name {
    text-align: center;
  }

  .box img {
    width: 100%;
    height: 250px;
    margin: 25px 1% 0;
  }
  .box--text {
    width: 100%;
    margin-bottom: 25px;
    font-size: 18px;
    margin: 0 1%;
  }
  .box--text h3 {
    font-size: 18px;
  }
  .box--text p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12% 12%;
  }

  .about {
    text-align: center;
  }

  .about--button {
    margin: 0 auto;
  }

  .about--img {
    margin: 25px auto;
    max-width: 250px;
    height: 300px;
  }
}
